/*Fonts*/
@font-face {
    font-family: 'latobold';
    src: url('fonts/Lato-Bold-webfont.eot');
    src: url('fonts/Lato-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Bold-webfont.woff2') format('woff2'),
         url('fonts/Lato-Bold-webfont.woff') format('woff'),
         url('fonts/Lato-Bold-webfont.ttf') format('truetype'),
         url('fonts/Lato-Bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoregular';
    src: url('fonts/Lato-Regular-webfont.eot');
    src: url('fonts/Lato-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Regular-webfont.woff2') format('woff2'),
         url('fonts/Lato-Regular-webfont.woff') format('woff'),
         url('fonts/Lato-Regular-webfont.ttf') format('truetype'),
         url('fonts/Lato-Regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/**/

/*CLear fix class*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
/**/

.header
{ 
	background: url("headerBackground.jpg") 0 0 /contain no-repeat;
	height: 1076px;
	width:100%;
	position: relative;
	display:block;

}
.elipse-div
{  
	background: url("elipse.png") 0 0 /contain no-repeat;
	height:3.188rem;
	width:auto;
    margin-left:50%;
 	position: relative;
	left : -2.438rem;
	top  :18%;
}
.heading-div
{   margin-left: 50%;
	position: relative;
	left :-353px;
	top  :22%;
	 text-align: center;
	 font-size: 56.08px;
	 color: #fff;
}
.small-box{
	width:548px;
	height:237px;
	background-color: black;
}
.title{
	text-transform: uppercase;
	color:#000;
}
