/*  Fonts
@font-face {
   font-family: 'latobold';
   src: url('fonts/Lato-Bold-webfont.eot');
   src: url('fonts/Lato-Bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato-Bold-webfont.woff2') format('woff2'),
        url('fonts/Lato-Bold-webfont.woff') format('woff'),
        url('fonts/Lato-Bold-webfont.ttf') format('truetype'),
        url('fonts/Lato-Bold-webfont.svg#latobold') format('svg');
   font-weight: normal;
   font-style: normal;

}

@font-face {
   font-family: 'latoregular';
   src: url('fonts/Lato-Regular-webfont.eot');
   src: url('fonts/Lato-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato-Regular-webfont.woff2') format('woff2'),
        url('fonts/Lato-Regular-webfont.woff') format('woff'),
        url('fonts/Lato-Regular-webfont.ttf') format('truetype'),
        url('fonts/Lato-Regular-webfont.svg#latoregular') format('svg');
   font-weight: normal;
   font-style: normal;

*/
CLear fix class
.cf:before,
.cf:after {
    content: " "; 1
    display: table; 2
}
.cf:after {
    clear: both;
}
*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
.cf {
    *zoom: 1;
}
 

.box-small{
	width:548px;
	height:237px;
	background-color:#000;

}
.text{
position: absolute;
    left: 25px;
    bottom: 13px;
    color: white;
    text-transform: uppercase;
    font-size: 2vw;
    font-family: 'latobold';
    letter-spacing: 5px;
}