
.paragraph
{   display: inline;
	float:left;
	width:40%;
	margin-right: 5%;
	margin-left: 2%;

}

.paragraph-div
{
	width:20%;
	display:block;
	float:left;
	margin-right: 10px;
	margin-left: 10px;
	padding:1%;
}

.main-image
{
	
	width:50%;
	height: auto;
	float:left;
	margin-left: 10px;
	margin-right: 10px;
}

.banner-image
{
width:20%;
height:auto;
float:left; 
margin-left:2%;

}
 .two
{
	margin-top: 1%;
}

.banner
{
    
	width:10%;
	float:left;

}
.hidden .two,.banner 
{
	display:none;
}
.hidden .main-image
{
	width: 80%;
}
.hidden .paragraph-div
{
	width: 10%;
	margin-right:1px;
}